<!-- <footer id="footer" class="module footer bg-black text-white text-inherit">
  <div class="container footer-top mx-auto pt-10">
    <div class="row items-center">
      {% for i in [1, 2, 3] %}
      <div class="col w-1/2 lg:w-1/4">
        <h5>
          <a href="#">About Us</a>
        </h5>
        <ul class="footer-menu list-none pl-0">
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>
      </div>
      {%endfor%}
      <div class="col w-1/2 lg:w-1/4">
        <h5>
          <a href="#">Contact </a>
        </h5>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <div class="social mt-3">
          {% include "modules/global/social.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center last-mb-none mx-auto pb-10 pt-10" >
    <p class="footer-copyright">
      Copyright © 2018-2021 9thWonder |
      <a href="#">Private Policy</a> |
      <a href="#">Disclaimer</a>
    </p>
  </div>
</footer> -->

<footer>
  <div class="container flex flex-col justify-center items-center py-15p5 md:flex-row md:justify-between">
      <div class="mb-20 md:mb-0">
        <img src="../../../assets/images/logo.png" alt="">
      </div>
      <ul class="flex flex-row items-center md:p-0 md:m-0">
          <li class="pr-10"><a href=""><img src="../../../assets/images/twitter.png" alt=""></a></li>
          <li class="pr-10"><a href=""><img src="../../../assets/images/facebook.png" alt=""></a></li>
          <li class="pr-10"><a href=""><img src="../../../assets/images/instagram.png" alt=""></a></li>
      </ul>
      <p class="text-black text-xl">Copywright 2020 Bella Onojie.com</h6>
  </div>
</footer>
